.timeline-viewport {
  width: 90%;
  overflow-x: scroll;
  cursor: grab;
  user-select: none;
  margin: 0 auto;
  position: relative;
  padding-top: 300px; /* Space for post preview */
  padding-bottom: 80px; /* Space for year labels */
  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.timeline-viewport::-webkit-scrollbar {
  display: none;
}

.timeline-viewport.active {
  cursor: grabbing;
}

.timeline-ruler {
  position: relative;
  height: 1px; /* The ruler itself has no height, it's a positioning context */
}

.timeline-axis {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #222222;
  top: 0; /* Anchored to the top of the ruler */
  transform: translateY(-50%);
  z-index: 1;
}
