.year-marker {
  position: absolute;
  top: 0; /* Align with the axis */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0; /* Behind post dots */
}

.year-label {
  position: absolute;
  top: 20px; /* Position below the timeline */
  font-size: 1.1rem;
  font-weight: 600;
  color: #aaaaaa;
  letter-spacing: 1px;
}
