.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

.App-header {
  margin-bottom: 5rem;
}

.App-title {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #222222;
  margin: 0;
}